.button {
  &__categories {
    margin-top: 40px;

    @include onTablet {
      margin-top: 56px;
    }

    &-primary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 56px;
      padding: 0 48px;

      font-family: "Space Grotesk", sans-serif;
      font-weight: 700;
      line-height: 27px;
      color: #fff;
      background-color: $main-text-color;
      border-radius: 8px;
      text-decoration: none;

      transition: all 0.5s;

      @include onDesktop {
        width: 324px;
      }

      &:hover {
        border-radius: 8px;
        border: 2px solid #f0f1f4;
        background-color: #f8f8fa;
        color: $main-text-color;
      }

      &:active {
        border-radius: 8px;
        background: #111;
        color: #fff;
      }
    }
  }
}
