.product {
  &__photo {
    @include hover(transform, scale(1.05));
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 8px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 700;
  }

  &__info {
    margin-bottom: 12px;
  }

  &__price {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    line-height: 140%;
  }
}
